body {
	margin: 0;
}

main {
  background-color: #F5E571;
}

.main-nav ul li {
	margin-left: 0px;
}

.centering-section {
	min-height: 100px;
	min-width: 360px;
	margin: 0;
	margin-bottom: 20px;
	border: 5px solid black;
	background-color: #ADA24B;
}

.centering-item {
	width: 600px;
	min-height: 100px;
	margin-top: 20px;
	background-color: #52FA82;
}

.centering-section__heading {
	margin-top: 0px;
	background-color: #8EB3FA;
}

.centering-section__type1 {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
}

.centering-item__type1 {
	position: relative;
	left: 50%;
	margin-left: -300px;
}

.centering-section__type2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
	margin-top: 750px;
	padding-left: 0px;
}

.centering-item__type3 {
	margin-left: auto;
	margin-right: auto;
}

.centering-section__type4 {
	display: table;
	text-align: center;
	vertical-align: middle;
}

.centering-item__type4 {
	display: inline-block;
}

.centering-item__pre-type4 {
	text-align: left;
}


























/*

display: flex;
flex-direction: row;
justify-content: start;
align-items: center;

width: px;
height: px;

margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;

font-size: px;
line-height: px;
font-weight: 400;
text-align: center;
color: @;

background-color: @;
background-image: url("");

border: 1px solid @;
border-radius: 3px;

*/
